In [4]:
print ( 1//2 )
print (1/2)

0
0.5

In [6]:
a_a=111

In [13]:
print (all([1,1]))

True

In [29]:
li= range (0,10,2)
for i in li:
    print (i)

0
2
4
6
8

In [11]:
a=list( [1,2,3] )
print (a)
a.append(4)
print (a)
a.insert(0,7)

a+=[9]

a

i,*j,k=a
i,j,k

[1, 2, 3]
[1, 2, 3, 4]

(7, [1, 2, 3, 4], 9)

In [2]:
a=[1,2]
#a+=3 TypeError: 'int' object is not iterable
a+=[3]
a.append([8,9])
print(a)
p,*m=a
m

[1, 2, 3, [8, 9]]

[2, 3, [8, 9]]

In [6]:
L=[1,2,3] #also can be list
def product(a,b,c):
    return a*b*c

def productv2(*args):
    print(args)
    r=1
    for i in args:
        print(i)
        r*=i
    return r

r=product(*L)

#r

r= product(1, *L[1:])
r=productv2(*L)

r

r=productv2(L)
r

(1, 2, 3)
1
2
3
([1, 2, 3],)
[1, 2, 3]

[1, 2, 3]

In [37]:
# This cell shows the standard methods of list
a=[2,4,1,7,9,5,6,0]
a.append(11)
print(a)
count=a.count(6)
print(count)

a+=[6]
a.extend([7])
a[0]=77
a.insert(0,77)
print (a)
del a[0]
print(a)

print(a.pop())
print(a)
print(a.pop(4))
print(a)
print(a.remove(11))
print(a)
a.reverse()
print(a)
a.sort()
print(a)

[2, 4, 1, 7, 9, 5, 6, 0, 11]
1
[77, 77, 4, 1, 7, 9, 5, 6, 0, 11, 6, 7]
[77, 4, 1, 7, 9, 5, 6, 0, 11, 6, 7]
7
[77, 4, 1, 7, 9, 5, 6, 0, 11, 6]
9
[77, 4, 1, 7, 5, 6, 0, 11, 6]
None
[77, 4, 1, 7, 5, 6, 0, 6]
[6, 0, 6, 5, 7, 1, 4, 77]
[0, 1, 4, 5, 6, 6, 7, 77]